.card_container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    background-color: #8d8c8c71;
    width: 250px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 3px 3px 5px .5px #bdbdbd;
    transition: all 0.5s;
}

.card_container:hover{
    background-color: #dedddde4;
}

.card_container:hover .card_info{
    background-color: #101462;
}

.card_img{
    display: block;
    margin: 10px auto;
    width: 35%;
    object-fit: contain;
}

.card_info{
    width: 100%;
    color: rgba(255, 255, 255, 0.848);
    background-color: #24298a;
    padding: 10px 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 0.5s;
}

.card_description{
    font-size: 12px;
}

.card_category{
    margin-bottom: 5px;
    font-size: 12px;
}

.price{
    margin-top: 5px;
}

@media screen and (min-width: 576px) {
    .card_container{
        width: 85%;
    }
}