.List_container{
    display: grid;
    justify-content: center;
    gap: 25px;
    padding: 30px 20px;
}

@media screen and (min-width: 576px ) {
    .List_container{
        grid-template-columns: repeat(2, 50%);
        gap: 35px 0px;
        justify-items: center;
    }
}

@media screen and (min-width: 840px ) {
    .List_container{
        grid-template-columns: repeat(3, 33.33333%);
        gap: 35px 0px;
        justify-items: center;
    }
}

@media screen and (min-width: 992px ) {
    .List_container{
        grid-template-columns: repeat(4, 25%);
        gap: 35px 0px;
        justify-items: center;
    }
}