.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    background-color: #24298a;
    padding: 10px 25px;
}

.header_logo{
    cursor: pointer;
    border-radius: 10px;
    height: 60px;
    padding: 8px;
    transition: all 0.3s ease-in;
}

.header_logo:hover{
    background-color: #4951dd;
}

.btn-menu{
    display: none;
}

@media screen and (max-width: 768px) {
    .btn-logo, .btn-menu{
        width: 50%;
    }
    .btn-logo{
        text-align: left;
    }
    .btn-menu{
        display: block;
        text-align: right;
    }
    .header_logo{
        height: 60px;
        padding: 8px;
    }
}